*{
    margin: 0;
    padding: 0;
    font-family: Arial; 
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(6, 6, 6);
    padding: 20px 12px;
    width: auto;
    height: 60px;

    

    .mylogo{
        color: rgb(250, 250, 253);
    }
}

.item{
    color: rgb(249, 252, 252);
    gap: 50px;
    display: flex;
   list-style-type:none ;
}

.item li a i  {
    color: rgb(246, 243, 243);
    font-size: 20px;
   margin-bottom: 10px;
    
}

.hero{
    background-color: rgb(8, 8, 8);
    height: 600px;
    
}
.item a {
    text-decoration: none;
    color: rgb(246, 241, 241);
    
}
.item a:hover{
    color: rgb(117, 84, 195);
}
.item a {
    color: rgb(243, 239, 239);
    transition: 0.3;
}

.mylogo{
    font-size: 30px;


}

.mylogo:hover{
    color: rgb(117, 84, 195);;

}

h1{
    font-size: 200px;
    color: aliceblue;
    text-align: center; 
    margin-right: 150px;
}

h2{
   font-size: 200px;
    color: aliceblue;
    text-align: center;
    margin-left: 180px; 
}

.heroen{
    background-color: rgb(14, 13, 13);
    display: flex;
    justify-content: space-between;
    height: 60px;

}

.items{
    display: flex;
    gap: 120px;
    align-items: center;
    margin-left: 360px;
   
}
.items li{
    color: aliceblue;
    list-style-type: none;
}





